{% extends 'master.html.twig' %}

{% block title %}Edit Usuario{% endblock %}

{% block content %}
    <h1>Edit Usuario</h1>

    {{ include('usuario/_form.html.twig', {'button_label': 'Guardar'}) }}

{% endblock %}
