{% extends 'master.html.twig' %}

{% block title %}Usuarios SAT Techfore{% endblock %}

{% block content %}
    {{form_start(form)}}
    {{form_widget(form)}}
    <button type="submit">Enviar</button>
    {{form_end(form)}}
{% endblock %}
