{% extends 'master.html.twig' %}

{% block title %}Edit ConfCierreReparacion{% endblock %}

{% block content %}
    <h1>Edit ConfCierreReparacion</h1>

    {{ include('conf_cierre_reparacion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('conf_cierre_reparacion_index') }}">back to list</a>

    {{ include('conf_cierre_reparacion/_delete_form.html.twig') }}
{% endblock %}
