{% extends 'master.html.twig' %}

{% block title %}New ConfCierreReparacion{% endblock %}

{% block content %}
    <h1>Create new ConfCierreReparacion</h1>

    {{ include('conf_cierre_reparacion/_form.html.twig') }}

    <a href="{{ path('conf_cierre_reparacion_index') }}">back to list</a>
{% endblock %}
