<form method="post" action="{{ path('ordentrabajo_delete', {'id': ordentrabajo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ordentrabajo.id) }}">
    <button class="btn">Delete</button>
</form>
