{% extends 'master.html.twig' %}

{% block title %}Edit Delegacion{% endblock %}

{% block content %}
    <h1>Edit Delegacion</h1>

    {{ include('delegacion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('delegacion_index') }}">back to list</a>

    {{ include('delegacion/_delete_form.html.twig') }}
{% endblock %}
