{% extends 'master.html.twig' %}

{% block title %}Edit Situacion{% endblock %}

{% block content %}
    <h1>Edit Situacion</h1>

    {{ include('situacion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('situacion_index') }}">back to list</a>

    {{ include('situacion/_delete_form.html.twig') }}
{% endblock %}
