{% extends 'master.html.twig' %}

{% block title %}New Situacion{% endblock %}

{% block content %}
    <h1>Create new Situacion</h1>

    {{ include('situacion/_form.html.twig') }}

    <a href="{{ path('situacion_index') }}">back to list</a>
{% endblock %}
