{% extends 'master.html.twig' %}

{% block title %}Edit EstadosCentral{% endblock %}

{% block content %}
    <h1>Edit EstadosCentral</h1>

    {{ include('estados_central/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('estados_central_index') }}">back to list</a>

    {{ include('estados_central/_delete_form.html.twig') }}
{% endblock %}
