{% for data in datas %}
	 <li class="dropdown-item">
	 	<a href="{{ path(app.request.attributes.get('_route'),{tipo:data.id}|merge({app.request.query.all})) }}">{{ data.nombre }}</a>
	 </li>
{% endfor %}
