<form method="post" action="{{ path('tiquet_factura_delete', {'id': tiquet_factura.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tiquet_factura.id) }}">
    <button class="btn">Delete</button>
</form>
